<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
{% if role == 'admin' %}
    <p><a href="{{ url_for('admin_index') }}">Admin index</a></p>
{% endif %}
<h2>Logged in as: {{ username }}</h2>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
<form action="" method="post">
<table>
        <tr>
            <td><input type="text" name="name" placeholder="Name" value="{{ save_form.name }}"></td>
            <td><input type="text" name="phone_number" placeholder="Phone number" value="{{ save_form.phone_number }}"></td>
            <td><input type="text" name="city" placeholder="City" value="{{ save_form.city }}"></td>
        </tr>
</table>
    <button type="submit">Search</button>
</form>

<form action="" method="post">
    <input type="hidden" name="reset_search">
    <button type="submit">Reset search</button>
</form>
<br>
{% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endwith %}
<table>
        {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.phone_number }}</td>
                <td>{{ person.city }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>