<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
<form action="" method="post">

<table>
    <tr><td><input type="text" placeholder="Username" name="username" value="{{ save_form.username }}"></td></tr>
    <tr><td><input type="password" placeholder="Password" name="password"></td></tr>
</table>

<button type="submit">Login</button>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endwith %}

</form>
</body>
</html>