<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Register</title>
    <script>
        function compare() {
            let string1 = document.getElementById("password").value;
            let string2 = document.getElementById("password_again").value;
            if (string1 === string2) {
                document.getElementById("match").innerHTML = "Passwords match.";
            }
                else{
                document.getElementById("match").innerHTML = "Passwords do NOT match.";
                }

        }
    </script>
</head>
<body>
<style>
    body{

        margin-top: 50px;
        text-align: center;
        background-color: #FaF8ED;
    }
    h1{
        padding: 20px;
        color: #F9B572;
    }
    h3{
        color: #748E63;
    }

    p{
        color:#99B080
    }

    table{
        margin-right: auto;
        margin-left: auto;
    }

    #submit{
        background-color: #F9B572;
        margin-top: 10px;
    }
    #gomb{
        background-color: #F9B572;
        margin-top: 5px;
    }


</style>






<form action="" method="post">
<h1>Register</h1>
    <table>
        <tr>
            <td><input type="text" placeholder="Username" name="username" value="{{ session['save_form'].username }}"></td>
            <td><input type="text" placeholder="Password" name="password" id="password" onkeyup="compare()"></td>
            <td><input type="text" placeholder="Password again" name="password_again" id="password_again" onkeyup="compare()"></td>
            <td><p><button class="btn btn-sm" type="submit" id="submit">Register</button></p></td>
        </tr>
        <tr><td id="match" colspan="3">Passwords do NOT match.</td></tr>

    </table>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endwith %}


</form>

<p><a id="gomb" class="btn btn-xl" href="{{ url_for('welcome') }}">Welcome page</a></p>

</body>
</html>