<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>

{% if not session['username'] %}
<p><a href="{{ url_for('login') }}">Login</a></p>
<p><a href="{{ url_for('register') }}">Register</a></p>
{% endif %}

{% if session['username'] %}
<h2>Logged in as: {{ session['username'] }}</h2>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
<p><a href="{{ url_for('index') }}">Index</a></p>
{% endif %}
<h1>Welcome!</h1>
<h3>This website is a phonebook.</h3>
<p>You must be logged in to use the website.</p>

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
{% endwith %}

</body>
</html>